/* .menu {
  position: fixed;
  top: 0;
  right: 100;
  width: 100%;
  max-width: 66%;
  line-height: 30px;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 36%;
  margin-top: 80px;
  z-index: 100;
} */
